body{

}

.left {
  float: left;
  box-sizing: border-box;
  width: 20%;
  height: 1200px;
}

header{
  float: left;
  box-sizing: border-box;
  width: 60%;
  height: 200px;
  text-align: center;
}

main{
  float: left;
  box-sizing: border-box;
  width: 60%;
  height: 770px;
  text-align: center;
}

footer{
  float: left;
  box-sizing: border-box;
  width: 60%;
  height: 200px;
  text-align: center;
}

h2{
  font-family: 'Yellowtail', cursive;
}

h1{
font-family: 'Oswald', sans-serif;
}

li{
  list-style: none;
  display: inline;
  cursor: pointer;
}


.right {
  float: left;
  box-sizing: border-box;
  width: 20%;
  height: 1200px;
  position: relative;
}
.checkbox{

}
