body{

}

.left {
  float: left;
  box-sizing: border-box;
  width: 20%;
  height: 1600px;
}

header{
  float: left;
  box-sizing: border-box;
  width: 60%;
  height: 200px;
  text-align: center;
}

main{
  float: left;
  box-sizing: border-box;
  width: 60%;
  height: 770px;
  text-align: center;
}


h2{
  font-family: 'Yellowtail', cursive;
}

h1{
font-family: 'Oswald', sans-serif;
}

li{
  list-style: none;
  display: inline;
  cursor: pointer;
}

#list{
width: auto;
height: 315px;
position: relative;
}

#left-checkbox{
top: 0px;
left: 0px;
}

#right-checkbox{
top: 0px;
right: 50%;3
}

.checkbox{
position: absolute;
}

.right {
  float: left;
  box-sizing: border-box;
  width: 20%;
  height: 1600px;
  position: relative;
}
